<!DOCTYPE html>
<html lang="en">
<head>
<title>About</title>
<meta charset="utf-8">
<link rel="icon" href="images/favicon.ico">
<link rel="shortcut icon" href="images/favicon.ico" />
<link rel="stylesheet" href="css/style.css">
<script src="js/jquery.js"></script>

<script src="js/jquery-migrate-1.1.1.js"></script>
<script src="js/jquery.equalheights.js"></script>
<script src="js/jquery.ui.totop.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script>
	$(document).ready(function() {

		$().UItoTop({
			easingType : 'easeOutQuart'
		});
	})
</script>
<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
         </a>

    <![endif]-->
<!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <link rel="stylesheet" media="screen" href="css/ie.css">
    <![endif]-->
<!--[if lt IE 10]>
      <script src="js/html5shiv.js"></script>
      <link rel="stylesheet" media="screen" href="css/ie1.css">
    <![endif]-->

</head>
<body class="">

	<!--==============================header=================================-->
	<header>
		<div class="container_12">
			<div class="grid_12">
				<h1>
					<a href="/"><img src="images/logo.png" alt="Boo House"></a>
				</h1>
				<div class="menu_block">


					<nav id="bt-menu" class="bt-menu">
						<a href="#" class="bt-menu-trigger"><span>Menu</span></a>
						<ul>
							<li class="bt-icon "><a href="/">Home</a></li>
							<li class="current bt-icon"><a href="/aboutUs">About</a></li>
							<li class="bt-icon"><a href="/menu">Menu</a></li>
							<li class="bt-icon"><a href="/blog">Login</a></li>
							<li class="bt-icon"><a href="/reservation">Reservation</a></li>
							<li class="bt-icon"><a href="/contacts">Contacts</a></li>
						</ul>
					</nav>

					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</header>

	<!--==============================Content=================================-->

	<div class="content">
		<div class="ic"></div>
		<div class="container_12">
			<div class="grid_8">
				<h3>About Us</h3>
				<img src="images/page2_img.jpg" alt="" class="img_inner fleft">
				<div class="extra_wrapper">
					
					<p class="col1">
						Restaurant, The Classic European Cuisine is famous its Italian cuisine with variety of Italian dishes like Penne Arabiata, Baked Lasagna, Olive and Garlic Pizza.
					</p>
					<p class="col1">The Restaurant is modelled after the great Europian Cuisine of San Jose and San Francisco.</p>
				</div>
				<p class="col1 pad1">The Restaurant has features like Online Reservation and have a look at the Menu to save your time and can directly order after coming here.</p>
			</div>
			<div class="grid_4">
				<h3>Contributors</h3>
				
				<p class="pad1"></p>
				
				<ul class="list">
					
					<li>Chandni Shah</li>
					<li>Jinali Jhaveri </li>
					<li>Rashmi Thakkar</li>
					<li>Nivedita Rahurkar</li>
					<li>Henil Shah</li>
				
				</ul>
			</div>
			<div class="grid_12">
				<h3 class="head1">The Best of Professionals</h3>
			</div>
			<div class="grid_3">
				<div class="box maxheight">
					<img src="images/page2_img2.jpg" alt="">
					<div class="title">
						<a href="#">Nivedita Rahurkar</a>
					</div>
					
				</div>
			</div>
			<div class="grid_3">
				<div class="box maxheight">
					<img src="images/page2_img2.jpg" alt="">
					<div class="title">
						<a href="#">Chandni Shah</a>
					</div>
					
				</div>
			</div>
			<div class="grid_3">
				<div class="box maxheight">
					<img src="images/page2_img3.jpg" alt="">
					<div class="title">
						<a href="#">Jinali Jhaveri</a>
					</div>
					

				</div>
			</div>
			<div class="grid_3">
				<div class="box maxheight">
					<img src="images/page2_img4.jpg" alt="">
					<div class="title">
						<a href="#">Rashmi Thakkar</a>
					</div>

				</div>
			</div>
			<div class="grid_3" style="margin-top:80px">
			<div class="box maxheight">
					<img src="images/henil.JPG" alt="">
					<div class="title">
						<a href="#">Henil Shah</a>
					</div>	
					

				</div>
			</div>
		</div>
	</div>

	<!--==============================footer=================================-->

	<footer>
		<div class="container_12">
			<div class="grid_6 prefix_3">
				<a href="index.html" class="f_logo"><img src="images/f_logo.png"
					alt=""></a>
				<div class="copy">
					&copy; 2013 | <a href="#">Privacy Policy</a> <br> Website
					designed by <a href="http://www.templatemonster.com/"
						rel="nofollow">TemplateMonster.com</a>
				</div>
			</div>
		</div>
	</footer>
	<script>
		$(document).ready(function() {
			$(".bt-menu-trigger").toggle(function() {
				$('.bt-menu').addClass('bt-menu-open');
			}, function() {
				$('.bt-menu').removeClass('bt-menu-open');
			});
		})
	</script>
</body>

</html>