<!DOCTYPE html>
<html lang="en">
<head>
<title>Orders</title>
<meta charset="utf-8">
<link rel="icon" href="images/favicon.ico">
<link rel="shortcut icon" href="images/favicon.ico" />
<link rel="stylesheet" href="css/style.css">
<script src="js/jquery.js"></script>
<script src="js/jquery-migrate-1.1.1.js"></script>
<script src="js/jquery.equalheights.js"></script>
<script src="js/jquery.ui.totop.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script>
	$(document).ready(function() {
		$(".block1").mouseover(function() {
			$(this).addClass("blur");
		});
		$(".block1").mouseout(function() {
			$(this).removeClass("blur");
		});
		$().UItoTop({
			easingType : 'easeOutQuart'
		});
	})
</script>
<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
         </a>
    <![endif]-->
<!--[if lt IE 9]>
    
      <script src="js/html5shiv.js"></script>
      <link rel="stylesheet" media="screen" href="css/ie.css">
    <![endif]-->
<!--[if lt IE 10]>
      <link rel="stylesheet" media="screen" href="css/ie1.css">
    <![endif]-->

</head>
<body class="page1">

	<!--==============================header=================================-->
	<header>
		<div class="container_12">
			<div class="grid_12">
				<h1>
					<a href="/"><img src="images/logo.png" alt="Boo House"></a>
				</h1>
				<div class="menu_block">


					<nav id="bt-menu" class="bt-menu">
						<a href="#" class="bt-menu-trigger"><span>Menu</span></a>
						<ul>
							<li class=" bt-icon "><a href="/adminHome">Home</a></li>
							<li class="bt-icon"><a href="/showAdminMenu">Manage Menu
									Items</a></li>
							<li class="bt-icon" style="margin-left: 82px;"><a
								href="/addCategory">Manage Category</a></li>
							<li class="current bt-icon" style="margin-left: -91px;"><a
								href="/createOrder">Orders</a></li>
							<li class="bt-icon"><a href="">Logout</a></li>
						</ul>
					</nav>

					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</header>

	<!--==============================Content=================================-->

	<div class="content">



		<div class="container_12">
			<div class="grid_12">
				<h3
					style="text-align: left; padding-top: 7px; font-size: 30px; margin-bottom: 33px;">Create
					New Order</h3>
			</div>
			<div
				style="background-color: rgba(215, 215, 177, 0.45); border-radius: 5px;">
				<form style="padding: 15px;">

					<label>Table Number</label> <input type="text" /> <br>
					 <input
						type="button" value="Add Item" id="addBtn" style="margin-top:20px;"></input> <br />
					<div id="orderItems" style="margin-top:20px;"></div>
					<br>
					<div>
						<input type="button" value="Generate Bill" style="margin-bottom:10px;"
							onclick="generateBill()"></input>
					</div>
					<div id="totalBill" style="display: none">
						<label>Total Bill Amount : </label> <label id="billAmount" style="font-weight:bold"></label>

					</div>
				</form>
			</div>


		</div>
	</div>

	<!--==============================footer=================================-->

	<footer>
		<div class="container_12">
			<div class="grid_6 prefix_3">
				<a href="index.html" class="f_logo"><img src="images/f_logo.png"
					alt=""></a>
				<div class="copy">
					&copy; 2013 | <a href="#">Privacy Policy</a> <br> Website
					designed by <a href="http://www.templatemonster.com/"
						rel="nofollow">TemplateMonster.com</a>
				</div>
			</div>
		</div>
	</footer>
	<script>
		var i = 0;
		var categoryList = "";

		$(document).ready(
				function() {

					getCategories();
					$(".bt-menu-trigger").toggle(function() {
						$('.bt-menu').addClass('bt-menu-open');
					}, function() {
						$('.bt-menu').removeClass('bt-menu-open');
					});

					$("#addBtn").click(
							function() {
								getCategories();

								var row = "";
								var rowId = "row" + i;
								var catId = "catId" + i;
								var itemId = "itemId" + i;
								row += '<div id="'+rowId+'" style="margin-top:10px;"> <select id="'
										+ catId
										+ '" onchange="getMenuItems()">'
										+ categoryList
										+ '</select> <select id="'+itemId+'">'
										+ '</select> </div><br>';
								if (i == 0) {
									console.log("Insert");
									$("#orderItems").append(row);
								} else {
									$("#row" + (i - 1)).after(row);
								}
								i++;
							});

				});

		function getCategories() {
			var url = '/categories';
			var catId;
			var catName;

			$.get(url, function(catList) {
				var i;
				var list = '<option value="-1">Select Category</option>';

				for (i = 0; i < catList.length; ++i) {

					catName = catList[i].category_name;
					catId = catList[i].category_id;

					list = list + '<option value='+catId+'>' + catName
							+ '</option>';
				}

				categoryList = list;

			});
		}

		function getMenuItems() {
			console.log("Inside getMenuItems");
			$("#itemId" + (i - 1)).empty();
			var catId = $('#catId' + (i - 1)).val();

			console.log("Category Id_______" + catId);
			var url = '/category/' + catId;
			var itemId;
			var itemName;
			var price;

			$.get(url, function(itemList) {
				var j;
				var list = '';

				for (j = 0; j < itemList.length; ++j) {

					itemName = itemList[j].item_name;
					itemId = itemList[j].item_id;
					price = itemList[j].price;
					list = list + '<option value='+price+'>' + itemName
							+ "- $ " + price + '</option>';
				}
				$("#itemId" + (i - 1)).append(list);

			});
		}

		function generateBill() {
			var j;
			var sum = 0;
			for (j = 0; j < i; j++) {
				var itemPrice = parseFloat($('#itemId' + j).val());
				sum += itemPrice;

			}
			$("#totalBill").show();
			$("#billAmount").append("$" + sum);
			console.log("Item Price________" + sum);
		}
	</script>
</body>
</html>